<H3>Name - Anushka Pachpute
<h3>Roll No - 20971
<h3>College Name - AGC (SDBI)
<h3>Class - F.Y. BSc Data Science
<h3>Subject - Principles of Programming Language

<h2> Assignment 3 : Python Tuple

<h4> Question Set A </H4>

In [1]:
# Q.1) Write a program to find the maximum and minimum element in a tuple without using max() and min() function
t = tuple(map(int, input("Enter elements separated by space: ").split()))
maxi = t[0]
mini = t[0]

for i in t:
    if i > maxi:
        maxi = i
    if i < mini:
        mini = i

print("Maximum:", maxi)
print("Minimum:", mini)

Enter elements separated by space:  5 6 7 8

Maximum: 8
Minimum: 5

In [3]:
# Q.2) Write a program to count the occurrence of each element in a tuple.
t = (1, 2, 3, 2, 1, 3, 2)
freq = {}

for i in t:
    freq[i] = freq.get(i, 0) + 1

print(freq)

{1: 2, 2: 3, 3: 2}

In [4]:
# Q.3) Write a program to convert a tuple of strings into a single string. 
t = ("Hello", "World", "Python")
print("".join(t))

HelloWorldPython

In [2]:
# Q.4) Write a program to find the sum of all even numbers in a tuple.
t = (1, 2, 3, 4, 5, 6, 8, 9, 10)
sum_even = 0

for i in t:
    if i % 2 == 0:
        sum_even = sum_even + i

print("Sum of even numbers:", sum_even)

Sum of even numbers: 30

In [5]:
# Q.5) Write a program to remove duplicates from a tuple (return a new tuple with unique ELEMENTS).
t = (1, 2, 2, 3, 3, 4)
new = []

for i in t:
    if i not in new:
        new.append(i)

print(tuple(new))

(1, 2, 3, 4)

<h4> Question Set B </H4>

In [6]:
# Q.1) Write a program to find the second largest element in a tuple.  
t= (80, 3, 74, 90, 8, 5)
list = list(t)
list.sort()

print("Second largest element in list is:", list[-2])

Second largest element in list is: 80

In [3]:
# Q.2) Write a program to sort a tuple of tuples based on the second element
t = ((1, 3), (4, 1), (2, 2), (5, 0))
lst = list(t)

for i in range(len(lst)):
    for j in range(i + 1, len(lst)):
        if lst[i][1] > lst[j][1]:
            lst[i], lst[j] = lst[j], lst[i]

sorted_tuple = tuple(lst)

print("Sorted tuple:", sorted_tuple)

Sorted tuple: ((5, 0), (4, 1), (2, 2), (1, 3))

In [19]:
# Q.3) Write a program to check if all elements in a tuple are unique.
t = (1, 2, 3, 4)
if len(t) == len(set(t)):
    print("All elements are unique")
else:
    print("Duplicates found")

All elements are unique

In [24]:
# Q.4) Write a program to swap the first and last element of a tuple.
t=(1,2,3,4)
new_t=(t[-1],)+t[1:-1]+(t[0],)
print(new_t)

(4, 2, 3, 1)

<h4> Question Set C </H4>

In [22]:
# Q.1) Write a program to find common elements between two tuples.
t1 = (1, 2, 3, 4, 5)
t2 = (3, 4, 5, 6, 7)
common = []

for i in t1:
    if i in t2:
        common.append(i)

common_tuple = tuple(common)

print("Common elements:", common_tuple)

Common elements: (3, 4, 5)

In [23]:
# Q.2) Write a program to create a tuple of squares of numbers from 1 to n. 
n = int(input())
result = []

for i in range(1, n+1):
    result.append(i*i)

print(tuple(result))

 6

(1, 4, 9, 16, 25, 36)